NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://postgres:change_me_in_prod@localhost:5432/rolify
REDIS_URL=redis://:change_me_in_prod@localhost:6379

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=https://cdn.rolify.ch
MINIO_USER=minioadmin
MINIO_PASSWORD=change_me_in_prod
MINIO_BUCKET_TRACKS=tracks
MINIO_BUCKET_COVERS=covers
MINIO_BUCKET_AVATARS=avatars

JWT_SECRET=generate_via_openssl_rand_hex_64
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
CORS_ORIGIN=http://localhost:3000

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# [Phase 2]
# STRIPE_SECRET=sk_test_xxx
# STRIPE_WEBHOOK_SECRET=whsec_xxx
